django
django-filter
djangorestframework
djangorestframework-csv
psycopg2-binary
urllib3
requests
bs4
html5lib
pytz
IPython
gensim
bokeh
numpy
pandas
playwright==1.52.0
Scrapy==2.12.0
spacy
python-scrapyd-api
scrapyd-client
scrapyd
scrapy-playwright==0.0.43


