<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title | safe }}</title>
    <link
        href="https://cdn.bokeh.org/bokeh/release/bokeh-{{ version | safe }}.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ version | safe }}.min.css"
        rel="stylesheet" type="text/css">
 </head>
 <body>
     {{ div | safe }}
</body>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ version | safe }}.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ version | safe }}.min.js"></script>
    {{ script | safe }}
</html>



